///	Grid settings.
///	First el is a viewport alias.
///	Second element is a gutter width.
//scss-lint:disable all
$grid_settings: (
	sm: (phones, 30px),
	md: (tablets, 40px),
	lg: (desktop laptop, 30px),
);

@mixin responsive_gutters($property) {
	$sign: 1;

	@if $property == margin {
		$sign: -1;
	}

	@each $__viewport, $__settings in $grid_settings {
		$__responsive_type:   nth($__settings, 1);
		$__responsive_gutter: nth($__settings, 2);

		@include respond-to($__responsive_type) {
			#{$property}-left: ($__responsive_gutter / 2 * $sign);
			#{$property}-right: ($__responsive_gutter / 2 * $sign);
		}
	}
}

///	Grid system. Based on flex. Semantic grid concept
///	@group grid
///	@param {String} $element - container | container-fixed | row
@mixin grid($element) {

	@if $element == container {
		@include responsive_gutters(padding);
	} @else if $element == container-fixed {
		@include responsive_gutters(padding);

		margin-left: auto;
		margin-right: auto;

		@include respond-to(desktop) {
			width: 1000px;
		}

		@include respond-to(laptop) {
			width: 1000px;
		}

		@include respond-to(tablets) {
			width: 100%;
		}

		@include respond-to(phones) {
			width: 100%;
		}


	} @else if $element == row {
		@include responsive_gutters(margin);

		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}
}

///	Grid system. Based on flex. Semantic grid concept
///	@group grid
///	@param {String} $viewport - viewport alias (from $grid_settings variable)
///	@param {Integer} $width - Width in number of columns (from 1 to 12)
@mixin col($viewport, $width) {
	$__responsive_type: nth(map-get($grid_settings, $viewport), 1);
	$__responsive_gutter: nth(map-get($grid_settings, $viewport), 2);

	@include respond-to($__responsive_type) {
		padding-left: ($__responsive_gutter / 2);
		padding-right: ($__responsive_gutter / 2);
		width: (100% / 12 * $width);

		@content;
	}
}

@mixin grid-columns-init {
	$__list: null;

	@each $device_size in (lg, md, sm) {
		@for $i from 1 through 12 {
			$__list: append($__list, '.col-#{$device_size}-#{$i}', comma);
			.col-#{$device_size}-#{$i} { @include col($device_size, $i); }
		}
	}

	#{$__list} {
		flex: 0 1 auto;
		min-height: 1px;
		position: relative;
	}
}


@mixin order($viewport, $order) {
	$__responsive_type: nth(map-get($grid_settings, $viewport), 1);

	@include respond-to($__responsive_type) {
		order: $order;
	}
}


@mixin grid-ordering-init {
	$__list: null;

	@each $device_size in (lg, md, sm) {
		@for $i from 1 through 12 {
			$__list: append($__list, '.order-#{$device_size}-#{$i}', comma);
			.order-#{$device_size}-#{$i} { @include order($device_size, $i); }
		}
	}
}

@include grid-columns-init;
@include grid-ordering-init;
//scss-lint:enable all
