///	Map with media queries strings
///	@group Responsive
///	@type Map
$break-points: (
	phones: 'screen and (min-width: 20em) and (max-width: 47.5em)',
	tablets: 'screen and (min-width: 48em) and (max-width: 66.5em)',
	laptop: 'screen and (min-width: 67em) and (max-width: 78.5em)',
	desktop: 'screen and (min-width: 79em)',
);

/// mixin for media queries
///	@example
///		@include respond-to(phones);
///		@include respond-to(phones-portrait tablets);
///		@include respond-to(tablets desktop);
///		@include respond-to(phones tablets);


@mixin respond-to($media) {
	$__query: null;

	@each $type in $media {
		@if map-has-key($break-points, $type) {
			$__query: append($__query, unquote(map-get($break-points, $type)), comma);
		} @else {
			@warn $type;
		}
	}

	@media #{$__query} {
		@content;
	}

}
