@mixin button {
	background-color: $black2;
	border-radius: 2px;
	border: 0;
	box-shadow: none;
	color: $white1;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400; // sorry, my eyes could not take 800 text weight anymore
	line-height: 1;
	padding: 1em 2em;
	text-shadow: none;
	transition: background 0.2s;
	white-space: nowrap;

	&:hover,
	&:focus {
		background: $gray2;
	}

	@include respond-to (phones) {
		text-align: center;
		width: 100%;
	}
}

@mixin link-underline ($hover-opacity) {
	box-shadow: inset 0 -1px 0 rgba($white1,1);
	text-decoration: none;
	transition: color 80ms ease-in,
				box-shadow 130ms ease-in-out;

	&:focus,
	&:hover {
		box-shadow: inset 0 0 0 rgba(0,0,0,0), 0 3px 0 rgba(0,0,0,$hover-opacity);
		transition: color 80ms ease-in,
					box-shadow 130ms ease-in-out;
	}
}

@mixin clearfix {

	&::after {
		clear: both;
		content: '';
		display: table;
	}

}
