.wrap {
	@include respond-to(phones) {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}
.footer {
	&-inner {
		@include grid(container);
	}

	&-row {
		@include grid(row);
	}

	&-info {
		@include col(lg, 9);
		@include col(md, 6);
		@include col(sm, 12) {
			border-top: 1px solid $gray2;
			order: 2;
			margin-top: 1rem;
			padding: 15px 0 0;
		}

		text-align: left;
	}

	&-contacts {
		@include col(lg, 3);
		@include col(md, 6);
		@include col(sm, 12) {
			order: 1;
			padding: 0;
		}
	}
}


a.info-link {
	@include link-underline(0.5);

	color: $gray1;

	&:hover,
	&:focus {
		color: $black1;
	}
}

a.button,
a[href^="tel"].button {
	@include button;

	&-only-phones {
		@include link-underline(0.5);

		@include respond-to(phones) {
			@include button;
		}

		span {
			@include respond-to(phones) {
				display: none;
			}
		}
	}
}

.contact-section {
	&-row {
		line-height: 1.3;
		margin-bottom: 0.5rem;

		@include respond-to(phones) {
			margin-bottom: 0;
		}
	}

	&-row + &-row {
		@include respond-to(phones) {
			margin-top: 1rem;
		}
	}
}

.popup {
	@include grid(container-fixed);

	background: $white1;
	position: relative;
	padding: 1rem 0 0;


	&-wrapper {
		@include grid(row);
	}

	&-content {
		@include col(lg, 12);
		@include col(md, 12);
		@include col(sm, 12);

	}

}
/// rtl
body.rtl {
	&.has-sidebar {
		&:not(.error404) #primary {
			float: right;
		}
		#secondary {
			float: left;

		}
	}

	.search-form .search-submit {
		left: 3px;
		right: auto;
	}

	.site-footer .widget .product_list_widget li a.remove,
	.widget .product_list_widget li a.remove {
		float: left;
	}


	&.woocommerce #content div.product div.thumbnails a,
	&.woocommerce div.product div.thumbnails a,
	&.woocommerce-page #content div.product div.thumbnails a,
	&.woocommerce-page div.product div.thumbnails a {
		float: right;
		margin-left: 3.8%;
		margin-right: 0;
	}

	&.single-product .woocommerce-product-rating .star-rating {
		float: right ;
		margin-left: 10px;
		margin-right: 0;
	}

	.star-rating {
		transform: rotateY(180deg);
	}
}

.single-product form.cart {
	margin-bottom: 2em;
}

.single-product #secondary {
	a.button {
		text-align: center;
		width: 100%;
	}

	a.button + a.button {
		margin-top: 15px;
	}

}

a.button.product_type_variable {
	text-align: center;
	padding: 1em 0;
	width: 100%;
}
